USE [master]
GO
/****** Object:  Database [WebBanHangDB]    Script Date: 30/5/2026 3:59:19 PM ******/
CREATE DATABASE [WebBanHangDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebBanHangDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WebBanHangDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebBanHangDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WebBanHangDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebBanHangDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebBanHangDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/5/2026 3:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 30/5/2026 3:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 30/5/2026 3:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[ImageUrls] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260530073152_InitialCreate', N'8.0.27')
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Laptop')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Desktop')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Accessories')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [CategoryId], [ImageUrl], [ImageUrls]) VALUES (1, N'MacBook Pro M3', CAST(29000000.00 AS Decimal(18, 2)), N'Apple Silicon, 16GB RAM, 512GB SSD', 1, N'/images/MacBook Pro M3.jpg', NULL)
INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [CategoryId], [ImageUrl], [ImageUrls]) VALUES (2, N'Dell XPS 15', CAST(15000000.00 AS Decimal(18, 2)), N'Intel i7, 4K Display, Great for creators', 1, N'/images/Dell XPS 15.jpg', N'["/images/Dell XPS 15 2.jpg","/images/Dell XPS 15 3.jpg"]')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [CategoryId], [ImageUrl], [ImageUrls]) VALUES (3, N'ASUS ROG Zephyrus', CAST(18000000.00 AS Decimal(18, 2)), N'High-end gaming laptop with RTX 4070', 1, N'/images/ASUS ROG Zephyrus.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
USE [master]
GO
